.contenedor {
  position: relative;
  width: 100%;
  padding: 20px 12px;
  max-width: 350px;
  right: 12px;
}

.input {
  width: 100%;
  padding: 8px 36px 8px 10px;
  font-size: 16px;
  min-height: 35px;
  min-width: 340px;
  border-radius: 10px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;

   /* Añadimos estas propiedades para evitar diferencias entre input types */
  line-height: 1.2;
  letter-spacing: 0.05em; /* Opcional: asegura estabilidad visual */
}

.input:focus {
  border-color: darkred;
  outline: none;
}

.inputOculto {
  -webkit-text-security: disc;
}

.ojo {
  position: absolute;
  right: 10px;
  top: 42%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 0;
  color: #555;
  outline: none;
  transition: color 0.2s ease;
}

.ojo:focus {
  outline: none;
  background-color: transparent;
  box-shadow: none;
}

.ojo:hover {
  color: darkred;
}

/* Responsive */
@media (max-width: 480px) {
  .input {
    font-size: 15px;
    min-height: 40px;
    min-width: 212px;
  }

  .ojo {
    font-size: 18px;
    right: 2px;
  }
}
