.contenedor {
  position: relative;
  width: 100%;
  max-width: 350px; /* Igual que el input correo */
  margin-bottom: 12px;
  right: 20px;
}

.input {
  width: 100%;
  padding: 10px 12px; /* Un poco menos padding derecho para el ojo */
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.ojo {
  position: absolute;
  right: 25px; /* Ajuste más pegado a la derecha dentro del input */
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  line-height: 1;
}
