*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /*background-color: brown;*/
  background: url('/utp_2.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper {
  width: 420px;
  background: transparent;
  backdrop-filter: blur(10px); /* Desenfoque */
  background: rgb(255, 255, 255, 0.5);
  color: darkred;
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
  margin: 30px;
}
.input {
  width: 100%;
  max-width: 315px;
  padding: 7px 7px; /* Sin padding derecho extra */
  font-size: 15px;
  border: 1px solid rgb(190, 186, 186);
  border-radius: 5px;
  box-sizing: border-box;
}

.input:focus {
  border-color: darkred;
  outline: none;
}